<div ng-controller="stockTable">
  <header>
    <head-title/>
  </header>
  <div class="filter">
    <div class="filter__wrapper width-wrapper">
      <ul>
        <li>
          <h5>日期</h5>
          <select ng-model="date" 
                  ng-change="dateSelected()">
            <option 
              ng-value="date" 
              ng-repeat="(key, date) in turnoversDate  | orderBy:'created_at':true">
              {{ date | date: 'yyyy-MM-dd' }}
            </option>
          </select>
        </li>
        <li>
          <h5>成交量排序</h5>
          <select ng-model="volumnRank">
            <option value="">由高至低</option>
            <option value="stock_volumn">由低至高</option>
          </select>
        </li>
        <li>
          <h5>代號</h5>
          <select ng-model="code" 
                  ng-options="stock for stock in allStockCode" 
                  ng-change="codeSelected()">
            <option value="">全部</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <div class="board-table">
    <div class="board-table__wrapper width-wrapper">
      <custom-table 
        th-names="thNames" 
        turnovers-name="turnoversByDate" 
        order="volumnRank">
      </custom-table>
    </div>
  </div>
</div>