<div ng-controller="stockTableByCode">
  <header>
    <head-title/>
  </header>
  <div class="board-table">
    <div class="board-table__wrapper width-wrapper">
      <custom-table 
        th-names="thNames" 
        turnovers-name="todaysTurnovers" 
        code-path="codePath">
      </custom-table>
    </div>
  </div>
</div>