<navbar link="app.state.link.github_url"></navbar>
<hero link="app.state.link.data_source_url"></hero>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <turnover-form
          dates="app.state.avaliable_date"
          on-get-by-params="app.getByParams($event);"
        >
        </turnover-form>
      </div>
    </div>
    <div ng-if="app.state.isLoading" class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <div ng-if="app.state.turnovers.length > 0">
      <turnover-list
      turnovers="app.state.turnovers"
      download-url="app.state.link.download_url"
      on-update-table-state="app.updateTableState(tableState);"
      ></turnover-list>
    </div>
    <div ng-if="!app.state.turnovers.length">
      <div class="notification">
        <h1 class="title">No Data Found</h1>
      </div>
    </div>
  </div>
</section>
