<div class="content">
  <table class="table is-striped">
    <thead>
      <tr>
        <th>代號<span class="icon is-small"><i class="fa fa-caret-up"></i></span></th>
        <th>名稱<span class="icon is-small"><i class="fa fa-caret-down"></i></span></th>
        <th>開盤價</th>
        <th>最高價</th>
        <th>最低價</th>
        <th>昨收盤</th>
        <th>今收盤</th>
        <th>成交量</th>
        <th>漲跌</th>
        <th>漲跌幅</th>
        <th>資料時間<span class="icon is-small"><i class="fa fa-sort"></i></span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="t in $ctrl.turnovers">
        <th>{{t.stock_code}}</th>
        <td>
          <a href="{{t.stock_company_uri}}">{{t.stock_name}}</a></strong>
        </td>
        <td>{{t.stock_opening_price}}</td>
        <td>{{t.stock_highest_price}}</td>
        <td>{{t.stock_lowest_price}}</td>
        <td>{{t.stock_closing_yesterday}}</td>
        <td>{{t.stock_closing_today}}</td>
        <td>{{t.stock_volume}}</td>
        <td>{{t.stock_change}}</td>
        <td>{{t.stock_quote_change}}</td>
        <td>{{t.created_at}}</td>
      </tr>
    </tbody>
  </table>
</div>
