/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

////// basic setting //////
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, 'PingFang TC', 'Heiti TC', '微軟正黑體', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
  font-size: 1em;
  color: #333333;
  overflow-y: scroll;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-size: 1.6em;
}
select {
  width: 100%;
}
////// common style //////
.width-wrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
