<div class="control is-grouped">
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="Enter stock code...">
  </p>
  <p class="control is-expanded">
    <span class="select is-fullwidth">
      <select>
        <option>Select Date</option>
        <option ng-repeat="d in $ctrl.dates" value="{{d}}">{{d}}</option>
      </select>
    </span>
  </p>
  <p class="control">
    <a class="button is-info">
      <span class="icon is-small">
        <i class="fa fa-search"></i>
      </span>
      <span>Search</span>
    </a>
  </p>
  <p class="control">
    <a class="button is-success" href="http://0.0.0.0:3000/api/stock.xlsx">
      <span class="icon is-small">
        <i class="fa fa-download"></i>
      </span>
      <span>Export to Excel</span>
    </a>
  </p>
</div>
